.stylish-hindi-text {
  font-size: 1em;
  font-weight: bold;
  color: #3b82f6; /* Customize the color */
  font-family: "Arial", sans-serif;
  padding: 3px 5px;
  letter-spacing: 2px; /* Customize the letter spacing */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add some shadow for style */
}

.gold-head {
  color: #d4d2ba;
}
